<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'pred_style1.css')}}">
</head>
<body>
<div class="regform">
        <h1>Please fill in the Details</h1>
  </div>
  <div class="main">
<form action="{{ url_for('predict')}}"method="post">
    	<input class="age" type="number" name="age" placeholder="age" required="required" /><br>
        <div class="gen">Gender: 0:male 1:female</div>
       <div>
        <label class="gender_label" for="gender"></label>
        <input class="gender" type="number" min="0" max="1" id="gender" name="gender" placeholder="gender" required="required" />
      </div>
            

      <div class="hcp">Having Chest pain? 0:no 1:yes</div>
      <div>
        <label class="Chestpain" for="gender"></label>
        <input class="Chestpain" type="number" min="0" max="1" id="Chestpain" name="Chestpain" placeholder="Chestpain" required="required" />
      </div>
        <p>
        <input class="bp" type="number" name="resting blood pressure" placeholder="resting blood pressure" required="required" /><br>
    </p>
    <p>
        <input class="chl" type="number" name="serum cholestrol" placeholder="serum cholestrol" required="required" /><br>
    </p>
    <p>
        <input class="sugar" type="number" name="fasting blood sugar" placeholder="fasting blood sugar" required="required" /><br>
    </p>
    <p>
        <input class="ecg" type="number" name="ecg" placeholder="ecg" required="required" /><br>
    </p>
    <p>
        <input class="mhr" type="number" name="maximum heart rate" placeholder="maximum heart rate" required="required" /><br>
    </p>
    <p>
        <input class="eia" type="number" name="exercise induced angina" placeholder="exercise induced angina" required="required" /><br>
    </p>
    <p>
        <input class="major-vessels" type="number" name="number of major vessels" placeholder="number of major vessels" required="required" /><br>
    </p>
    <p>
        <input class="thal" type="number" name="thal" placeholder="thal" required="required" /><br>
    </p>
        <div class="button">
      <button type="submit">Predict</button>
        </div>
    </form>
   <br>
   <br>
<div class="pred">
    <h2>The chances of the patient to develop a heart disease: {{ prediction_chances }}</h2>
</div>
</div>
</body>
</html>