<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
</head>
<body>
<p> Please provide the required values</p>
<form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="age" placeholder="age" required="required" /><br>
        <input type="text" name="sex" placeholder="sex" required="required" /><br>
		<input type="text" name="chest-pain" placeholder="chest-pain" required="required" /><br>
        <input type="text" name="resting blood pressure" placeholder="resting blood pressure" required="required" /><br>
        <input type="text" name="serum cholestrol" placeholder="serum cholestrol" required="required" /><br>
        <input type="text" name="fasting blood sugar" placeholder="fasting blood sugar" required="required" /><br>
        <input type="text" name="ecg" placeholder="ecg" required="required" /><br>
        <input type="text" name="maximum heart rate" placeholder="maximum heart rate" required="required" /><br>
        <input type="text" name="exercise induced angina" placeholder="exercise induced angina" required="required" /><br>
        <input type="text" name="number of major vessels" placeholder="number of major vessels" required="required" /><br>
        <input type="text" name="thal" placeholder="thal" required="required" /><br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>

   {{ prediction_chances }}
</body>
</html>